h1{ 

    color: rgb(71, 71, 230);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;

    
}

h2{
    font-style: italic;
    font-weight:bold ;
}















h3{
    text-transform: capitalize;
}
